.home-container {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/img1.png') center/cover no-repeat;
    min-height: 100vh;
    position: relative;
    height: 500px;
    width: 100%;
}

/* Hide all components on mobile - only show splash screen */
@media (max-width: 768px) {
    .home-container {
        display: none;
    }
}