.scrollContainer {

  margin: 2rem auto;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 500px;
  height: 500px;
  width: 900px;
}

.catList {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding-left: none !important;
  background-color: rgba(146, 146, 146, 0.04);
}

.catList li {
  list-style: none;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 2px solid rgba(158, 77, 182, 0.41);
  text-align: center;
  padding: 20px 40px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}


.active {
  border-bottom: 2px solid rgba(158, 77, 182, 1) !important;
  color: rgba(158, 77, 182, 1);

}

.sectionTitle {
  font-size: 38px;
  color: #333;
  margin-bottom: 1.5rem;
  font-weight: 600;
  width: 200px;
}

.scrollWrapper {
  position: relative;
  padding: 0 40px;
  width: 130%;
}

.vehicleTypes {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 1rem 0;
  width: 1050px;
}

.vehicleTypes::-webkit-scrollbar {
  display: none;
  /* Chrome/Safari */
}

.vehicleCard {
  min-width: 180px;
  background: white;
  border-radius: 8px;
  padding-top: 50px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex-shrink: 0;
  transition: transform 0.2s ease;
  width: 250px;
  height: 250px;
  border: 1px solid grey;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.vehicleCard:nth-child(2) {
  min-width: 180px;
  background-color: rgba(158, 77, 182, 1);
  border-radius: 8px;
  padding-top: 50px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex-shrink: 0;
  transition: transform 0.2s ease;
  width: 250px;
  height: 250px;
  border: 1px solid grey;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
}

.vehicleCard:nth-child(2) .name,
.vehicleCard:nth-child(2) .number {
  color: white;
}

.vehicleCard:nth-child(2) .circle {
  background-color: rgba(246, 239, 248, 0.12);
  display: flex;
  justify-content: center;

}



.scrollBtn {
  position: absolute;
  top: 50%;
  background: white;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  transition: 0.3s ease-in-out;
}

.left {
  left: -40px;
}

.right {
  right: -40px;
}

.scrollBtn:hover {
  background: rgba(158, 77, 182, 1);
  color: white;
}

@media (max-width: 768px) {
  .scrollWrapper {
    padding: 0 30px;
  }

  .scrollBtn {
    width: 35px;
    height: 35px;
  }

  .vehicleCard {
    min-width: 160px;
    padding: 1.2rem;
  }
}

.car {
  z-index: 2;
  position: relative;
  font-size: 70px;
  transform: translateY(30px) translateX(0);
  color: rgba(158, 77, 182, 1);
}

.name {
  transform: translateY(-50px);
}

.number {
  opacity: 0.4;
  transform: translateY(-50px);
}

.circle {
  width: 80px;
  height: 80px;
  background-color: rgba(246, 239, 248, 1);
  border-radius: 50%;
  z-index: -1;
  transform: translateY(-40px) translateX(60px);
  margin: 0;
}