/* Login.css */

/* Main Container Styles */
.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.Fsection {
  background: linear-gradient(rgba(49, 0, 64, 1), rgba(158, 77, 182, 1));
  width: 40%;
  height: 100vh;
}

.Fsection .moby,
.Fsection .car {
  font-size: 103px;
  color: white;
  letter-spacing: 2px;
  z-index: 1;
  opacity: 3%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.container .Fsection .moby {
  transform: translate(10%, 50%);
}

.container .Fsection .car {
  transform: translate(10%, 0%);
}

.number {
  position: absolute;
  left: 17%;
  top: 9%;
  transform: scale(1.1);
}

.line {
  position: relative;
  height: 80%;
  width: 1px;
  background-color: rgba(237, 237, 237, 1);
  left: 110%;
  top: -50%;
}

.Fsection img.bg {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  /* Adjust based on your image */
  width: 50%;
  object-fit: contain;
  transform: scale(-1, 1);
  /* Flip horizontally */
  opacity: 1;
  z-index: 0;
}


.titleH {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 33px;
  display: flex;
  justify-self: center;
}

.descP {
  color: #919191;
  font-size: 16px;
}



.Ssection {
  flex: 1;
  padding: 3rem;
  max-width: 600px;
  margin: 0 auto;
  transform: translateY(10%);
}

/* Header Styles */
.header {
  margin-bottom: 2.5rem;
}



.labelPass {
  color: #575757;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Form Box Styles */
.box {
  margin-bottom: 1.5rem;
}

.inp {
  margin-bottom: 1rem;
}

.inp h3 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #333;
}

/* Input Field Styles */
input {
  width: 100%;
  padding: 0.8rem 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 0.9rem;
  transition: border-color 0.3s;
}

input:focus {
  outline: none;
  border-color: #666;
}

/* Submit Button Styles */
.submit {
  display: flex;
  justify-self: center;
  align-self: center;
  padding: 0.75rem 3rem;
  background-color: rgba(158, 77, 182, 1);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;



  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

}

.submit:hover {
  background-color: #333;
}

p {
  display: inline;
  font-size: 0.9rem;
  color: #666;
  margin-right: 0.5rem;
}


/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .Fsection {
    display: none;
  }

  .Ssection {
    padding: 2rem;
    width: 100%;
  }
}





/*eye*/

.placeholder::placeholder {
  color: #B1B1B1;
}

.passEye {
  position: relative;
}

.iconEye {
  display: flex;
  justify-self: flex-end;
  align-self: center;
  transform: translate(-50%, -200%);
  cursor: pointer;
  color: #B1B1B1;
}