.search-container {
  background: rgba(255, 255, 255, 0.23);
  padding: 2rem;
  margin: -5rem auto 3rem;
  max-width: 1065px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
  background-blend-mode: overlay;
  transform: translateY(230%);
}

.search-form {
  display: flex;
  gap: 20px;
  align-items: center;
}

.search-group {
  position: relative;
  display: flex;
  flex-direction: row;
  width: auto;
  background: white;
  border-radius: 5px;
  background-color: white;
  width: 340px;
}




.inpLoc {
  margin-left: 20px;
  background-color: transparent;
}

.inpLoc::placeholder {
  color: #C7C7C7;

}


.search-button {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 15px 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  height: fit-content;
}

/*input container scroll dropdown*/

.inpCont {
  position: relative;
  width: 18%;
  width: 150px;
}

.font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.s1-icon {
  position: absolute;
  top: 30%;
  margin-left: 10px;
  color: #818181;
  width: 20px;
}


.custom-dropdown::after {
  font-size: 20px !important;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  border-radius: 50px;
}