.Cont {
  width: 800px;
  text-align: center;
  transform: translate(45%);
}

.titleH {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  color: black;
  text-align: center;
  margin-top: 40px;
  font-size: 33px;
}

.sectionTitle {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 24px;
  text-align: center;
  margin: 60px 0;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-align: center;
  width: 700px;
  margin: 0 auto;
  font-size: 16px;
  color: #919191;
}

.steps {
  position: relative;
  display: flex;
  width: 700px;
  margin: 5px auto;
  gap: 80px;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.textO {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 50%;
  box-shadow: 10px 20px 10px 3px rgba(158, 77, 182, 0.15);
  animation: name ease-in-out infinite 2.5s;
  background-color: #9E4DB6;
  color: white;
}

@keyframes name {
  50% {
    box-shadow: 5px 5px 7px rgba(158, 77, 182, 0.15);
  }
}

.step {
  position: relative;
  border-radius: 50%;
  border: 1px dashed black;
  padding: 10px;
  background: white;
}

.rightIcon {
  position: relative;
  font-size: 20px;
  transform: translateY(1px);
  color: rgba(158, 77, 182, 1);
}

.line {
  position: absolute;
  width: 60%;
  height: 1px;
  border-bottom: 1px dashed rgba(158, 77, 182, 1);
  top: 50%;
  left: 20%;
  z-index: -1;
}

/* vehicule cont*/

.vehiculeInfoCont {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #f9f9f9;
  border-radius: 15px;
  max-width: 800px;
  margin: 0 auto 100px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.box {
  display: flex;
  margin-bottom: 25px;
  gap: 20px;
}

.boxO,
.boxT {
  flex: 1;
}

.btn {
  background-color: #9E4DB6;
  color: white;
  border: none;
  padding: 12px 45%;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  margin: 20px 0 !important;
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #7b1fa2;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .box {
    flex-direction: column;
  }

  .boxO,
  .boxT {
    width: 100%;
  }
}





/* file upload*/


.file_upload {
  width: 100%;
  margin-bottom: 0.75rem;
}

.label {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin-bottom: 8px;
  color: #333;
  font-size: 14px;
  text-align: left !important;
}

.file_upload_container {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 12px;
  background-color: #f9f9f9;
  height: 55px;
  position: relative;
}

.file_upload_label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  cursor: pointer;
  height: 100%;
}

.file_upload_text {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 16px;
  color: #B1B1B1;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start !important;
}

.file_upload_button {
  background-color: #9E4DB6;
  color: white;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.file_upload_button:hover {
  background-color: #7b1fa2;
}

/* Hide the default file input */
.file_upload_input {
  display: none;
}