/* Login.css */

/* Main Container Styles */
.container {
  display: flex;
  min-height: 100vh;
  height: 700px;
  overflow: hidden;
}

.Fsection {
  background: linear-gradient(rgba(49, 0, 64, 1), rgba(158, 77, 182, 1));
  width: 40%;
  height: 100vh;
}


.Fsection .moby,
.Fsection .car {
  font-size: 103px;
  color: white;
  letter-spacing: 2px;
  z-index: 1;
  opacity: 3%;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.container .Fsection .moby {
  transform: translate(10%, 50%);
}

.container .Fsection .car {
  transform: translate(10%, 0%);
}

.number {
  position: absolute;
  left: 17%;
  top: 9%;
  transform: scale(1);
}

.line {
  height: 900px;
  width: 1px;
  background-color: rgba(237, 237, 237, 1);
  transform: translate(650px, -550px);
}

.Fsection img.bg {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 40%;
  margin: 0;
  /* Adjust based on your image */
  width: 50%;
  object-fit: contain;
  transform: scale(1);
  /* Flip horizontally */
  opacity: 1;
  z-index: 0;
}

.Ssection {
  flex: 1;
  padding: 3rem;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Header Styles */
.header {
  margin-bottom: 2.5rem;
}

.headerTitle {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 33px;
  margin-bottom: 0.5rem;
  color: #222;
}

.headerSubtitle {
  text-align: center;
  color: #919191;
  font-size: 0.9rem;
}

/* Form Box Styles */
.box {
  margin-bottom: 1.5rem;
}

.inp {
  margin-bottom: 1rem;
}

.label {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #575757;
  margin-bottom: 0.5rem;
}

.inp>div {
  position: relative;
}

/* Input Field Styles */
.inputReset {
  width: 100%;
  padding: 0.8rem 1rem;
  padding-right: 3rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 0.9rem;
  transition: border-color 0.3s;
}

.inputReset::placeholder {
  color: #B1B1B1;
}

.inputReset:focus {
  outline: none;
  border-color: #666;
}

.iconEye {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #B1B1B1;
  font-size: 1rem;
}

/* Submit Button Styles */
.submit {
  margin: 0 auto;
  padding: 0.7rem 3rem;
  background-color: rgba(158, 77, 182, 1);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
  display: block;
  width: fit-content;
}

.submit:hover {
  background-color: #333;
}

p {
  display: inline;
  font-size: 0.9rem;
  color: #666;
  margin-right: 0.5rem;
}


/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .Fsection {
    display: none;
  }

  .Ssection {
    padding: 2rem;
    width: 100%;
  }
}