.header {
  width: 100%;
  height: 244px;
  background-color: rgba(248, 248, 248, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.header .ContactUs {
  text-align: center;
  font-size: 40px;
  color: black;

  position: relative;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  z-index: 2;

}

.header .fcircle,
.header .scircle {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: linear-gradient(rgba(49, 0, 64, 0.04), rgba(49, 0, 64, 0));
  position: absolute;
  z-index: 1;
}

.header .scircle {
  left: 12%;
  top: -22%;
}


.header .fcircle {
  top: 15%;
  left: 55%;
}

/* Main Container Styles */
.container {
  display: flex;
  max-width: 1200px;
  margin: 50px auto;
  padding: 2rem;
  gap: 4rem;
}

/* Section One Styles */
.sectionOne {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 75px 0;
}



.partTwo {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.info {
  display: flex;
  gap: 1rem;
  align-items: center;
  border-bottom: 1px solid #ECECEC;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.container .sectionOne .partTwo .info .logo {
  color: rgba(158, 77, 182, 1);
  width: 70px;
  margin-top: 0.3rem;
  background-color: rgba(246, 239, 248, 1);
  border-radius: 50%;
  padding: 20px;
}

.logoNormal {
  color: rgba(158, 77, 182, 1);
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  /* Make the FontAwesome icon even smaller for better match */
  margin-top: 0.3rem;
  background-color: rgba(246, 239, 248, 1);
  border-radius: 50%;
  padding: 25px;
}



.paraTitle {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: #060606;
  font-size: 18px;
}

/* Section Two Styles */
.sectionTwo {
  flex: 1;
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid #F2F2F2;
  height: 670px;
  width: 580px;
}

.area {
  margin-bottom: 1.5rem;
}






.area textarea {
  min-height: 120px;
  resize: vertical;
}

.submit {
  width: 30%;
  padding: 1rem;
  background-color: rgba(158, 77, 182, 1);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  transform: translateX(120%);
}

.submit:hover {
  background-color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 2rem;
  }

  .sectionOne {
    gap: 2rem;
  }


}


/*new changes*/

.fontM {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 38px;
}

.fontR {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: #919191;
  font-size: 16px;
}

.labForm {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

  color: #575757;
  font-size: 14px;
  margin-bottom: 10px;
}

.test {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

  font-size: 18px;
  color: #060606;
}

.inpForm::placeholder,
.textForm::placeholder {
  color: #B1B1B1;
  background-color: #F2F2F2;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.textForm {
  width: 100%;
  height: 100px;
  border: none;
  background-color: #F2F2F2;
  resize: vertical;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}

.textForm:focus {
  outline: none;
}

.inpForm {
  border: none;
}