.paymentContainer {
  margin: 0 auto;
  padding: 30px;
  font-family: Arial, sans-serif;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

.paymentTitle {
  color: #333;
  font-size: 24px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: bold;
}

.label {
  display: block;
  color: #555;
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: normal;
}

.inputField {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  gap: 20px;
}

.row .formGroup {
  flex: 1;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 50%;
}

.cancelButton {
  background-color: #f5f5f5;
  color: #333;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  width: 48%;
}

.payButton {
  background-color: #9E4DB6;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  width: 48%;
}

.cancelButton:hover {
  background-color: #e0e0e0;
}

.payButton:hover {
  background-color: #8a3da0;
}




/* Payement history */


.payments_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.payment_card {
  display: flex;
  gap: 50px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.payment_card:hover{
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.payment_title {
  font-size: 1.5rem;
  margin: 0 0 10px 0;
  color: #333;
}

.payment_date {
  font-size: 0.9rem;
  color: #666;
  margin: 0 0 12px 0;
}

.payment_user {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.user_name {
  font-weight: bold;
  color: #333;
  margin-top: 5px;
}

.user_rating {
  color: #ffc107;
  margin-top: 6px;
}

.divider {
  height: 1px;
  background-color: #e0e0e0;
  margin: 0 0 15px 0;
}

.payment_footer {
  display: grid;
  transform: translate(150px,10px);
}

.payment_status {
  color: #4caf50;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba(41, 157, 0, 0.15);
  padding: 5px;
  height: 35px;
  border-radius: 15px;
  margin-bottom: -20px;
}

.payment_amount {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}
.payement_Img{
  width: 170px;
  height: 120px;
  border: 1px solid rgba(242, 242, 242, 1);
  padding: 10px;
}
.imgProfile{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
