.paymentContainer {
  font-family: Arial, sans-serif;
  background-color: #fff;
  margin-top: 30px;
}

.paymentTitle {
  color: #333;
  font-size: 24px;
  margin-bottom: 30px;
  text-align: left;
  font-weight: bold;
}

.sectionTitle {
  font-size: 14px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.label {
  display: block;
  color: #555;
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: normal;
}

.inputField {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.inputField::placeholder {
  color: #B1B1B1;
}

.row {
  display: flex;
  gap: 20px;
}

.row .formGroup {
  flex: 1;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 50%;
}

.cancelButton {
  background-color: transparent;
  color: #9E4DB6;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  border: 1px solid #9E4DB6;
  font-size: 16px;
  cursor: pointer;
  width: 48%;
}

.payButton {
  background-color: #9E4DB6;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  width: 48%;
}






/* Payement history */


.payments_container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.payment_card {
  display: flex;
  gap: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: ease-in-out 0.3s;
  cursor: pointer;
  justify-content: space-between;
}

.payment_card:hover {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.payment_title {
  font-size: 18px;
  margin: 0 0 10px 0;
  color: black;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;

}

.payment_date {
  font-size: 0.9rem;
  color: #919191;
  margin: 0 0 12px 0;
  display: flex;
  align-items: center;
  gap: 5px;
}

.payment_user {
  display: flex;
  gap: 10px;


}

.user_name {
  font-weight: bold;
  color: #333;
  margin-top: 5px;
  display: flex;
  justify-self: center;
}

.user_rating {
  color: #ffc107;
  display: flex;
  align-items: center;
  margin-top: 3px;
}

.divider {
  height: 1px;
  background-color: #e0e0e0;
  margin: 0 0 15px 0;
}

.payment_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: flex-end;
}

.payment_status {
  color: #4caf50;
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgba(41, 157, 0, 0.15);
  padding: 5px;
  font-size: 15px;
  width: 100%;
  text-align: center;
  border-radius: 15px;

}


.payement_Img {
  width: 170px;
  border: 1px solid rgba(242, 242, 242, 1);
  padding: 20px;
  height: 100%;
}

.payment_amount {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.paymentSpart {
  width: 350px;
  margin-left: -100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}



.imgProfile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}